{% load static %} 
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />    
    <link rel="stylesheet" type="text/css" href="{% static 'myauthapp/style.css' %}" />
    <title>{% block title %}Predictions{% endblock %}</title>
    {% block head %}
    
    {% endblock %}
  </head>
  <body>
    <a href="{% url 'home' %}">Home</a> /
    <a href="{% url 'logout' %}">Logout</a> <br> <br>
    <h2>Predictions Database</h2> 
    <b><p>Please note that an income prediction of [0] means Income less than or equal to $50,000 and [1] means income greater than $50,000</p></b>
    <table class="predict-table">
        <thead>
            <tr>
                <th>Age</th>
                <th>Work Class</th>
                <th>Education</th>
                <th>Marital Status</th>
                <th>Occupation</th>
                <th>Relationship</th>
                <th>Race</th>
                <th>Sex</th>
                <th>Capital Gain</th>
                <th>Capital Loss</th>
                <th>Hours Per Week</th>
                <th>Native Country</th>
                <th>Income</th>
            </tr>
        </thead>
        <tbody>
          {% for predict in object_list %}
            <tr>
              <td>{{ predict.age }}</td>
              <td>{{ predict.work_class }}</td>
              <td>{{ predict.education }}</td>
              <td>{{ predict.marital_status }}</td>
              <td>{{ predict.occupation }}</td>
              <td>{{ predict.relationship }}</td>
              <td>{{ predict.race }}</td>
              <td>{{ predict.sex }}</td>
              <td>{{ predict.capital_gain }}</td>
              <td>{{ predict.capital_loss }}</td>
              <td>{{ predict.hours_per_week }}</td>
              <td>{{ predict.native_country }}</td> 
              <td>{{ predict.predicts }}</td>                  
            </tr>
          {% endfor %}
       
        </tbody>
    </table>
    {% block content %}

    {% endblock %}
    
  </body>
</html>





