body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;;
    background-color: rgba(255, 255, 255);
    overflow-x: hidden
}

.base {
    min-width: 800px;
    max-width: 70%;
    margin: 0 auto;
    padding: 40px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.topnav{
    overflow: hidden;
    background-color: #f8f9fa;
    border: 1px solid;
}

.topnav a {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    font-size: 16px;
    font:bolder
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a.active {
    color: black;
    float: left;
  }

  .predict-table {
    border: 1px solid black;
    border-collapse: collapse;
    
  }

  tr:nth-of-type(even){
    background-color: rgba(102, 51, 153, 0.3);
  }

  thead {
    border-bottom: 1px solid;
    border-top: 1px solid;
    padding: 10px 0px 10px 5px;  
    font-weight: bold; 
  }

  tr{
    text-align: center;
    border-bottom: 1px solid;
    cursor: pointer;
  }
  
  td{
    padding: 10px 0px 10px 5px;  
  }

  span{
    font-size: 100px;
    color: red;
  }

